---
import { ResourcePermission } from '@logic/data.ts';
import { getResources, type ResourceDetail } from '@logic/data.ts';

let { collectionId, page, count, token, resources, isManager } = Astro.props;

if (!resources) {
  const resourcesData = await getResources(collectionId, page, count, token);
  resources = resourcesData.resources;
}

const dateOptions: Intl.DateTimeFormatOptions = {
  day:   'numeric',
  month: 'short',
  year:  'numeric',
};
const timeOptions: Intl.DateTimeFormatOptions = {
  hour: 'numeric',
  minute: 'numeric',
  hourCycle: 'h12',
};

---

{ resources?.map((resource: ResourceDetail) =>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell">
      { !resource.process_error ?
        resource.permissions.includes(ResourcePermission.READ_CONTENTS) ? 
          <a class="govuk-!-display-block" href={ `/collections/${collectionId}/resources/${resource.id}` }>{ resource.filename || resource.id }</a>
        :
          <span>{ resource.filename || resource.id }</span>
      :
        <>
          <span>{ resource.filename || resource.id }</span>
          <span class="govuk-error-message govuk-!-margin-bottom-0 govuk-!-display-block">{ resource.process_error }</span>
        </>
      }
    </td>
    <td class="govuk-table__cell">{ resource.content_type }</td>
    <td class="govuk-table__cell" data-sort={resource.created_at}>
      <span class="govuk-!-display-inline-block">{ resource.created_at ? `${new Date(resource.created_at).toLocaleDateString('en-GB', dateOptions) }, ` : '-' }</span>
      <span class="govuk-!-display-inline-block">{ resource.created_at ? new Date(resource.created_at).toLocaleTimeString('en-GB', timeOptions).toUpperCase() : '' }</span>
    </td>
    { isManager &&
      <td class="govuk-table__cell">
        <span class="flex gap-3 items-center justify-end">
          { resource.url &&
            <form method="post" action="/api/add-urls/?refresh=true" enctype="multipart/form-data">
              <input type="hidden" name="collection" value={ collectionId } />
              <input type="hidden" name="addUrls" value={ resource.url } />
              <button class="flex govuk-link govuk-body-s mb-0! cursor-pointer text-pink! disabled:no-underline!">
                Update
                <loading-spinner></loading-spinner>
              </button>
            </form>   
          }
          <a class="govuk-body-s govuk-!-margin-bottom-0" href={ `/collections/${collectionId}/resources/${resource.id}/delete` }>
            Delete
            <span class="govuk-visually-hidden"> { resource.filename || resource.id }</span>
          </a>
        </span>
      </td>
    }
  </tr>
)}
